<div class="view-card">
    <div class="block">
      <div class="view-card-top selected">
        <div class="all-card-items">
          <div class="top-content">
            <div class="card-number"><img src="../../../assets/img/mingcute_department-line.svg" alt=""></div>
            <div class="view-card-main-text">
              <p class="Telegram-id-title">Добавить новый отдел ?</p>
            </div>
          </div>
          <a href="#" class="x-mark-btn" (click)="modalClose.emit(false)"><div class="card-number"><img src="../../../assets/img/iconoir_xmark.svg" alt=""></div></a>
        </div>
        <div class="view-card-stats">
          <input type="text" class="division-name" placeholder="Имя отдела" #inputTelegramID>
          <a href="#" class="x-mark-btn" type="button" (click)="createDivision(inputTelegramID.value)"><div class="card-number"><img src="../../../assets/img/iconamoon_check.svg" alt=""></div></a>
        </div>
      </div>
    </div>
  </div>