<div class="wrapper">
  <div class="content">
      <div class="container">
          <div class="main-set">
              <p class="Telegram-id-title">Обзор:</p>
              <div class="main-set-bts">
                  <a type="button" href="#" (click)="menuOpenUser()">
                      <div class="set-btn unlected" [ngClass]="{selected: check() === 0}">
                          <img src="../../assets/img/ph_user.svg" alt="">
                      </div>
                  </a>
                  <a type="button" href="#" (click)="menuOpenStats()">
                      <div class="set-btn unlected" [ngClass]="{selected: check() === 2}">
                          <img src="../../assets/img/basil_settings-adjust-outline.svg" alt="">
                      </div>
                  </a>
                  <a type="button" href="#" (click)="openModal()">
                      <div class="add-btn unlected">
                        <img src="../../assets/img/ic_round-plus.svg" alt="">
                      </div>
                  </a>
              </div>
          </div>
          @if(check() === 0){
            <app-modal class="modal" *ngIf="modalCheck === 3" (modalClose)="updateUsers($event)"></app-modal>
            <section class="main-view">
              <div class="view-box">
                  <div class="view-card ">
                      <div class="block">
                          <div class="view-card-top selected">
                              <div class="all-card-items">
                                  <div class="top-content">
                                  <div class="card-number"><p class="number">1</p></div>
                                  <div class="view-card-main-text">
                                      <p class="Telegram-id-title">{{preLogin}}{{telegram_id}}</p>
                                      <p class="Telegram-id-subtitle">{{telegram_first_name}} {{telegram_last_name}}</p>
                                  </div>
                              </div>
                              </div>
                              <div class="view-card-stats">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="view-card ">
                      <div class="block" *ngFor="let user of users$ | async; let i = index">
                          <div class="view-card-top unlected">
                              <div class="all-card-items">
                                  <div class="top-content">
                                  <div class="card-number"><p class="number">{{i + 2}}</p></div>
                                  <div class="view-card-main-text">
                                      <p class="Telegram-id-title">{{preLogin}}{{user.telegram_id}}</p>
                                      <p class="Telegram-id-subtitle">{{user.first_name}} {{user.last_name}}</p>
                                  </div>
                              </div>
                              <a href="#" class="x-mark-btn" type="button" (click)="userDelete(user.user_id)"><div class="card-number"><img src="../../assets/img/iconoir_xmark.svg" alt=""></div></a>
                              </div>
                              <div class="view-card-stats">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          }@else(){
            <app-modal-division class="modal" *ngIf="modalCheck === 3" (modalClose)="updateDivision($event)"></app-modal-division>
            <section class="main-view">
              <div class="view-box">
                  <div class="view-card" *ngFor="let division of divisions$ | async">
                      <div class="block">
                          <div class="view-card-top selected">
                              <div class="all-card-items">
                                  <div class="top-content">
                                  <div class="card-number"><img src="../../assets/img/mingcute_department-line.svg" alt=""></div>
                                  <div class="view-card-main-text">
                                      <p class="Telegram-id-title">{{division.name}}</p>
                                  </div>
                              </div>
                              <a href="#" class="x-mark-btn" type="button"><div class="card-number" (click)="divisionDelete(division.id)"><img src="../../assets/img/iconoir_xmark.svg" alt=""></div></a>
                              </div>
                              <div class="view-card-stats">
                                <input type="text" class="division-name" [placeholder]="division.name" #nameChange>
                                <a href="#" class="x-mark-btn" type="button" (click)="changeName(division.id, nameChange.value)"><div class="card-number"><img src="../../assets/img/iconamoon_check.svg" alt=""></div></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          }
      </div>
  </div>
</div>