<div class="wrapper" *ngIf="limits$ | async as limits">
  <div class="content">
      <div class="container">
          <div class="main-set">
              <p class="Telegram-id-title">{{titleName()}}:</p>
              <div class="main-set-bts">
                  <a type="button" href="#" (click)="menuOpenTools()">
                      <div class="set-btn unlected" [ngClass]="{selected: check() === 0}">
                          <img src="../../assets/img/gear.svg" alt="">
                      </div>
                  </a>
                  <a type="button" href="#" (click)="menuOpenLimits()">
                    <div class="set-btn unlected" [ngClass]="{selected: check() === 2}">
                        <img src="../../assets/img/noun-lock-684872 1.svg" alt="">
                    </div>
                  </a>
                  <a type="button" href="#" (click)="openModal()">
                      <div class="add-btn unlected">
                        <img src="../../assets/img/ic_round-plus.svg" alt="">
                      </div>
                  </a>
              </div>
          </div>
          @if(check() === 0){
        <app-modal-finance class="modal" *ngIf="modalCheck === 3" (modalClose)="updateTools($event)"></app-modal-finance>
        <section class="main-view">
            <div class="view-box">
                <div class="view-card">
                    <div class="block" *ngFor="let tool of tools$ | async;">
                        <div class="view-card-top selected">
                            <div class="all-card-items">
                                <div class="top-content">
                                <div class="card-number"><img src="../../assets/img/basil_asana-outline.svg" alt=""></div>
                                <div class="view-card-main-text">
                                    <p class="Telegram-id-title">{{tool.name}}</p>
                                </div>
                            </div>
                            <a href="#" class="x-mark-btn" type="button" (click)="servicerDelete(tool.id)"><div class="card-number"><img src="../../assets/img/iconoir_xmark.svg" alt=""></div></a>
                            </div>
                            <div class="view-card-stats">
                                <input type="text" class="division-name" placeholder="Изменить название" #nameChange>
                                <a href="#" class="x-mark-btn" type="button" (click)="changeToolName(tool.id ,nameChange.value)"><div class="card-number"><img src="../../assets/img/iconamoon_check.svg" alt=""></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        }@else {
        <app-modal-finance class="modal" *ngIf="modalCheck === 3" (modalClose)="updateTools($event)"></app-modal-finance>
        <section class="main-view">
            <div class="view-box">
                <div class="view-card">
                    <div class="block">
                        <div class="view-card-top unlected">
                            <div class="all-card-items">
                                <div class="top-content">
                                    <div class="card-number">1</div>
                                    <div class="input-box">
                                        <input type="text" class="division-name limit-bg" [placeholder]="limits[0].telegram_id" #telegramIdChange1>
                                        <input type="number" class="division-name limit-bg" [placeholder]="limits[0].value" #limitChange1>
                                    </div>
                                </div>
                            </div>
                            <div class="view-card-limits">
                                <a type="button" href="#" (click)="changeLimit(1, limits[0].user_id, telegramIdChange1.value, +limitChange1.value)">
                                    <div class="limits-btn selected">
                                        <p class="limits -title">Изменить</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       <section class="main-view">
            <div class="view-box">
                <div class="view-card">
                    <div class="block">
                        <div class="view-card-top unlected">
                            <div class="all-card-items">
                                <div class="top-content">
                                    <div class="card-number">2</div>
                                    <div class="input-box">
                                        <input type="text" class="division-name limit-bg" [placeholder]="limits[1].telegram_id" #telegramIdChange2>
                                        <input type="text" class="division-name limit-bg" [placeholder]="limits[1].value" #limitChange2>
                                    </div>
                                </div>
                            </div>
                            <div class="view-card-limits">
                                <a type="button" href="#" (click)="changeLimit(2, limits[1].user_id, telegramIdChange2.value, +limitChange2.value)">
                                    <div class="limits-btn selected">
                                        <p class="limits -title">Изменить</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <app-limits-push *ngIf="pushVis"></app-limits-push>
        }
      </div>
  </div>
</div>