<div class="wrapper">
  <div class="content">
      <div class="container">
          <div class="main-set">
              <p class="Telegram-id-title">Статистика:</p>
              <div class="main-set-bts">
                  <a type="button" href="#">
                      <div class="set-btn selected">
                          <img src="/img/ph_user.svg" alt="">
                      </div>
                  </a>
                  <a type="button" href="#">
                      <div class="set-btn unlected">
                          <img src="/img/basil_settings-adjust-outline.svg" alt="">
                      </div>
                  </a>
                  <a type="button" href="#">
                      <div class="add-btn unlected">
                          <p class="add-btn-text">+</p>
                      </div>
                  </a>
              </div>
          </div>
          <section class="main-view">
              <div class="view-box">
                  <div class="view-card">
                      <div class="block">
                          <div class="view-card-top">
                              <div class="all-card-items">
                                  <div class="top-content">
                                  <div class="card-number"><p class="number">1</p></div>
                                  <div class="view-card-main-text">
                                      <p class="Telegram-id-title">{{preLogin}}{{telegram_id}}</p>
                                      <p class="Telegram-id-subtitle">{{telegram_first_name}} {{telegram_last_name}}</p>
                                  </div>
                              </div>
                              <a href="#" class="x-mark-btn"><div class="card-number"><p class="number">X</p></div></a>
                              </div>
                              <div class="view-card-stats"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </div>
</div>