<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <section>
        <div class="sing_in-main">
            <div class="gif-container">
                <img src="../../assets/img/8567d3c9292a86a8f106657a2454672d.gif" alt="">
            </div>
            <div class="title-box">
                <p class="sing_in-title">Ваш логин <a href="#" class="telegram-login">TimurDev</a></p>
                <p class="sing_in-subtitle">Выполняется вход</p>
            </div>
        </div>
    </section>
</body>
</html>