<section>
  <div class="sing_in-main">
      <div class="gif-container">
          <img src="../../assets/img/8567d3c9292a86a8f106657a2454672d.gif" alt="">
      </div>
      <div class="title-box" *ngIf="check">
        <p class="sing_in-title">Добро пожаловать</p>
        <a type="button" href="#" (click)="getID()">
          <div class="sing-in-btn">
            <p class="btn-text">Войти</p>
          </div>
        </a>
      </div>
      <div class="title-box" *ngIf="!check" >
        <p class="sing_in-title">Ваш логин <a href="#" class="telegram-login">{{preLogin}}{{telegram_id}}</a></p>
        <p class="sing_in-subtitle">Выполняется вход</p>
      </div>
  </div>
</section>
