<body>
    <section>
        <div class="sing_in-main">
            <div class="gif-container">
                <img src="../../assets/img/8567d3c9292a86a8f106657a2454672d.gif" alt="">
            </div>
            <div class="title-box">
              <p class="sing_in-title">Добро пожаловать</p>
              <a href="">
                <div class="sing-in-btn">
                  <p class="btn-text">Войти</p>
                </div>
              </a>
            </div>
        </div>
    </section>
</body>