<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header-body">
                <a href="" class="header-logo">
                    <img src="{{telegram_photo_url}}" alt="">
                </a>
                <div class="menu">
                    <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
                    <label for="burger-checkbox" class="burger"></label>
                    <ul class="menu-list">
                        <div class="menu-list-flex">
                            <li><a href="#" class="menu-item" type="button" (click)="menuOpenUser()"><img src="/img/bi_view-list.svg" alt="">Общее</a><li>
                            <li><a href="#" class="menu-item" type="button" (click)="menuOpenFinance()"><img src="/img/material-symbols-light_finance-sharp.svg" alt="">Финансы</a><li></li>
                            <li><a href="#" class="menu-item"><img src="/img/bx_purchase-tag-alt.svg" alt="">Баинг</a><li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    @if(check === 0) {
        <app-users></app-users>
    }@else(){
        <app-finance></app-finance>
    }
</div>