<div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header-body">
                    <a href="" class="header-logo">
                        <img src="/img/Frame 27.png" alt="">
                    </a>
                   <div class="menu">
                        <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
                        <label for="burger-checkbox" class="burger"></label>
                        <ul class="menu-list">
                            <div class="menu-list-flex">
                                 <li><a href="#" class="menu-item"> <img src="/img/bi_view-list.svg" alt="">Общее</a><li>
                                <li><a href="#" class="menu-item"> <img src="/img/material-symbols-light_finance-sharp.svg" alt="">Финансы</a><li>
                                <li><a href="#" class="menu-item"><img src="/img/bx_purchase-tag-alt.svg" alt="">Баинг</a><li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="container">
                <div class="main-set">
                    <p class="Telegram-id-title">Поользователи:</p>
                    <div class="main-set-bts">
                        <a type="button" href="#">
                            <div class="set-btn selected">
                                <img src="/img/ph_user.svg" alt="">
                            </div>
                        </a>
                        <a type="button" href="#">
                            <div class="set-btn unlected">
                                <img src="/img/basil_settings-adjust-outline.svg" alt="">
                            </div>
                        </a>
                        <a type="button" href="#">
                            <div class="add-btn unlected">
                                <p class="add-btn-text">+</p>
                            </div>
                        </a>
                    </div>
                </div>
                <section class="main-view">
                    <div class="view-box">
                        <div class="view-card">
                            <div class="block">
                                <div class="view-card-top">
                                    <div class="top-content">
                                        <div class="card-number"><p class="number">1</p></div>
                                        <div class="view-card-main-text">
                                            <p class="Telegram-id-title">IrinaKrilova</p>
                                            <p class="Telegram-id-subtitle">Irina Krilova</p>
                                        </div>
                                    </div>
                                    <div class="view-card-stats">
                                        <div class="stats-text">
                                            <p class="stats-text-title">Статистика</p>
                                            <p class="stats-text-subtitle">794</p>
                                        </div>
                                         <div class="stats-text">
                                            <p class="stats-text-title">Статистика</p>
                                            <p class="stats-text-subtitle">794</p>
                                        </div>
                                        <div class="stats-text">
                                            <p class="stats-text-title">Статистика</p>
                                            <p class="stats-text-subtitle">794</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>